
#CalltoAction {
    height: 100vh;
    width: 100vw;
    position: relative; /* 添加相对定位 */
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./pics/head.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    // z-index: -1; /* 将此元素放在底层 */
    .Description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20vh;
        @media screen and (max-width: 768px){
            height: 10vh;
        }
        .h1{
            font-size: 5rem;
            color: white;
            margin: 0;
            @media screen and (max-width: 768px){
                font-size: 3rem;
            }
        }
        // button{
        //     font-size: 2vw;
        //     width: 25vw;
        //     height: 8vh;
        // }
    }
}
.Title {
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 1;
    margin-left: 10vw;
    .h1{
        font-size: 7rem;
        color: white;
        margin: 0;
    }
    p{
        font-size: 2rem;
        color: white;
        margin: 0;
    }
}
#FullPageSlogan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./pics/PlaneIntro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    p{
        color: white;
        font-size: 6rem;
        @media screen and (max-width: 992px){
            font-size: 5rem;
        }
        @media screen and (max-width: 768px){
            font-size: 5rem;
        }

        @media screen and (max-width: 576px){
            font-size: 2rem;
        }
    }
}
#Slogan{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background:linear-gradient(115deg, #F00 50%, url(./pics/PlaneIntro.jpg) 50%);;
    .row{
        margin: 2rem 0;
    };
    .Description{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}
#OurGoal{
    margin-top: 10vh;
    .Description{
        animation: fly-in 1s ease-in;
    }
    @keyframes fly-in {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img{
            width: 30vw;
        }
        .Description{
            width: 40vw;
        }
    }
}
#Product{
    margin-top: 10vh;
    margin-bottom: 10vh;
    .ImgFrame{
        margin: 1rem auto;
        display: flex;
        align-self: stretch;
        img{
            border-radius: 12px;
            border: solid 1px #aaa;
        }
    }

}
#Goal{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100vw;
    .Img{
        display: flex;
        align-self: center;
        
    }
    .Description{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

#About{
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url(./pics/CallAction.png);
    @media screen and (max-width: 576px){
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,1)), url(./pics/CallAction.png);
    }
    // background-image: url(./pics/CallAction.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    z-index: 0;
    .Description{
        color: white;
        margin-left: 10vw;
        margin-right: 10vw;
        @media screen and (max-width: 576px){
            margin-right: 0;    
        }
        z-index: 1;
        line-height: 2rem;
    }

}

