@charset "UTF-8";
nav {
  font-size: 1.2rem;
}
nav .navbar-brand {
  font-size: 2rem;
}

#CalltoAction {
  height: 100vh;
  width: 100vw;
  position: relative; /* 添加相对定位 */
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./pics/head.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#CalltoAction .Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
}
@media (max-width: 768px) {
  #CalltoAction .Description {
    height: 10vh;
  }
}
#CalltoAction .Description .h1 {
  font-size: 5rem;
  color: white;
  margin: 0;
}
@media (max-width: 768px) {
  #CalltoAction .Description .h1 {
    font-size: 3rem;
  }
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 1;
  margin-left: 10vw;
}
.Title .h1 {
  font-size: 7rem;
  color: white;
  margin: 0;
}
.Title p {
  font-size: 2rem;
  color: white;
  margin: 0;
}

#FullPageSlogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./pics/PlaneIntro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#FullPageSlogan p {
  color: white;
  font-size: 6rem;
}
@media (max-width: 992px) {
  #FullPageSlogan p {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  #FullPageSlogan p {
    font-size: 5rem;
  }
}
@media (max-width: 576px) {
  #FullPageSlogan p {
    font-size: 2rem;
  }
}

#Slogan {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(115deg, #F00 50%, url(./pics/PlaneIntro.jpg) 50%);
}
#Slogan .row {
  margin: 2rem 0;
}
#Slogan .Description {
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media (max-width: 992px) {
  #Slogan .Description {
    margin-top: 2rem;
  }
}

#OurGoal {
  margin-top: 10vh;
}
#OurGoal .Description {
  animation: fly-in 1s ease-in;
}
@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#OurGoal .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#OurGoal .container img {
  width: 30vw;
}
#OurGoal .container .Description {
  width: 40vw;
}

#Product {
  margin-top: 2rem;
}
#Product .ImgFrame {
  margin: 1rem auto;
  display: flex;
  align-self: stretch;
}
#Product .ImgFrame img {
  border-radius: 12px;
  border: solid 1px #aaa;
}

#Goal {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100vw;
}
#Goal .Img {
  display: flex;
  align-self: center;
}
#Goal .Description {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#About {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url(./pics/CallAction.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  z-index: 0;
}
@media screen and (max-width: 992px) {
  #About {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url(./pics/CallAction.png);
  }
}
#About .Description {
  color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  z-index: 1;
  line-height: 2rem;
}
@media screen and (max-width: 992px) {
  #About .Description .h1 {
    font-size: 3rem;
  }
  #About .Description .normal {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

img {
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */